body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

}

.btnContainer {
    display: flex;
    border-style: solid;
    gap: 50px;
    margin-top: 30px;
    height: 15vh;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.resultContainer {
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
}

.options,
.optionsAgain {
    width: 10vw;
    height: 10vh;
    border-radius: 40px;
    outline: solid 2px black;
    transition: outline 0.1s linear;
    margin: 0.5em;
    font-size: auto;


}

.optionsAfterGame {
    width: 10vw;
    height: 10vh;
    border-radius: 40px;
    outline: solid 2px black;
    transition: outline 0.1s linear;
    margin: 0.5em;
}

.options:hover,
.optionsAgain:hover {
    outline-width: 5px;
    cursor: pointer;
}